#container {
    max-width: 33%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "equation"
        "result"
}

#equation {
    grid-area: equation;
}

#result {
    grid-area: result;
}

